@import "./_variables";


//Ändrar färgern i headern och ändrar textens storlek
@mixin header_attributes($theme_color, $text_color, $main_font){
    background-color: $theme_color;
    height: 10vh;
    width: $standard_width;
    color: $text_color;
    font-size: $main_font;
}  

//Detta flyttar texten på bilderna neråt
@mixin h1_attributes {
    margin-top: 100px;
}

// Detta är navigation baren som finns på toppen av hemsidan
@mixin navigation_bar($theme_color, $text_color){
    float: right;
    color: $text_color;
    text-align: $standard_position;
    padding: 14px 16px;
    font-size: 17px;
    background-color: $theme_color;
    overflow: hidden;
    display: inline;
    margin-top: -30px;

}

// Detta är de navigationbaren gör när man håller muspekaren över länkarna till andra delaran av hemsidan
@mixin navigation_bar_hover_attribute($text_color, $theme_color){
    background-color: $text_color;
    color: $theme_color;
    border-radius: 20px;

}

//Detta är funktionen som skapar parallax på de tre bildern på min hemsida, jag använder en funktion till tre parallaxes
@mixin parallax_function($header_Picture) {
    background-image: $header_Picture;
    height: 80vh;
    width: $standard_width;
    background-attachment: fixed;
    background-position: $standard_position;
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    justify-content: $standard_position;
    color: orange;
}

//Detta är det som ändrar på texterna melan bilderna så den ändrar färg på text och bakrund och positionerar texten i mitten
@mixin text_attributes($theme_color, $text_color) {
    color: $text_color ;
    background-color: $theme_color;
    text-align: $standard_position;
    height: 250px;
    

}