$theme_color : black;
$text_color : white;
$main_font_size : 4em;
$standard_width : 100%;
$standard_position : center;


$header_Picture : url(side-view1.jpg);
$second_picture : url(gym.jpg);
$third_picture : url(female-athlete-exercising-with-dumbbells-in-a-lunge-royalty-free-image-909891594-1558710148.jpg);
